.header__square-pic {
    height: 568px;
    width: 568px;
    background-color:#2f80de;
    position: absolute;
    top: 64px;
    right:0;
}

@media screen and (max-width: 1200px) {
    .header__square-pic {
        height: 468px;
        width: 468px;}
    }