.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    z-index:2;
    height: 32px;
  }

  @media screen and (max-width: 1230px) {
    .logo_place_header {
      position: static;
      margin-top: 10px;
      
    }}