.section-title {
    margin-top: 100px;
    font-size: 60px;
    line-height: 1.15;
    font-weight: bold;
    margin-bottom:20px;
    width: 60%;
    text-align: center;
  }

@media screen and (max-width: 508px) {
    .section-title {
       font-size: 50px;
       width: 70%;}}

@media screen and (max-width: 428px) {
    .section-title{
       font-size: 40px;
       width: 80%;}}
    