.header {
    
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position:relative;
    display:flex;
    align-items: center;
    overflow: hidden;
    /* выше установили ограничения для секции */
  }


  @media screen and (max-width: 1023px) {
    .header{
      justify-content: flex-start;
     align-items: center;
     
    }    
  }

  @media screen and (max-width: 962px) {
    .header{
      
      justify-content: space-between;
      flex-direction: column;}}
      
    
  
  

  @media screen and (max-width: 936px) {
      .header{justify-content: space-between ;}}

  @media screen and (max-width: 504px) {
    .header{
      min-height: 600px;
      max-height: 700px;
    } 
  }